<%= form_with(model: gallery_item, local: true) do |form| %>
  <% if gallery_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gallery_item.errors.count, "error") %> prohibited this gallery_item from being saved:</h2>

      <ul>
        <% gallery_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
