<!DOCTYPE html>
<html>
  <head>
    <title>CMACKWWebApplication</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/010d12112b.js" crossorigin="anonymous"></script>
  </head>

  <body data-turbolinks="false">
    <header id="page-header"></header>
    <%= javascript_pack_tag 'header/index' %>
    <nav id="nav-menu"></nav>
    <%= javascript_pack_tag 'navMenu/index' %>
    <main id="page-content" class="container"></main> 
    <%= yield %>
  </body>
</html>
