<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CMAC KW</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/010d12112b.js" crossorigin="anonymous"></script>
  </head>

  <body data-turbolinks="false">
    <header id="page-header">
    </header>
    <%= javascript_pack_tag 'index' %>

    <main id="page-content">
      <%= yield %>
    </main>
  </body>
</html>
